<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Working Indo Wordnet Application</h1>
    <p>It's a reasonably simple fully armed and operational battlestation.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/asr1191/MalayalamWordnetBackend"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Ayyyyyy lmao yep, I stole this from Heroku
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this works</h3>
      <ul>
        <li>Fetched dependencies: The fat of children digged out of their graves, of Juices of smallage, wolfe-bane and cinque foil, mingled with the meal of fine wheat.
        <li>When I received the source code, I fetched all the dependencies in the cauldron.json, creating a deployable, and disgusting slug.</li>
        <li>The platform then spins up a dynosaur, a lightweight organism that provides an isolated environment in which the slug can be mounted and executed... (savage)</li>
        <li>?????????</li>
        <li>PROFIT!!!</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Run around the house, with questionable amount of clothing, and scream in high D# at the moon, to start the MySQL database service.</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://en.wikipedia.org/wiki/Witchcraft">Witchcraft Wiki</a></li>
        <li><a href="http://www.wikihow.com/Become-a-Wiccan/">Join 'The Old Religion'</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Flying_ointment">Doctors hate it! Cure your backpain with one single trick!</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Please do NOT work through the Getting Started guide, even if you don't know how to brew such an application.  The guide covers the basics of working with witchcraft, and will familiarize you with all the concepts you need in order to brew your own potions.
  </div>
</div>


</body>
</html>
